@import "../../styles/variables.scss";
@import "../../styles/utils.scss";

#menu-drawer {
    display: block;
    position: fixed;
    z-index: 1000;
  }
  @media screen and (min-width: 640px) {
      #menu-drawer {
        display: none;
      }
  }

  .menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transform: scale(0);
    transition: opacity 300ms ease;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 300px;
    min-height: 100vh;
    background-color: $text-indigo-50;
    padding: 2rem;
    transition: all 100ms ease-in;
    &__close {
      @extend .click-area;
      display: block;
      align-items: center;

      background-color: transparent;
      border: none;
      margin-left: auto;
    }
    &__list {
      list-style: none;
      padding: 0;
      display: grid;
      row-gap: 2rem;
    }
    &__link {
      @extend .click-area;
      width: 100%;
      display: inline-flex;
      align-items: center;

      color: $text-indigo-700;
      font-weight: 600;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }
 